body {
    text-align: center;
}
div.chat-box {
    margin: 40px 0;
    ul {
        padding: 5px 0;
        max-width: 600px;
        margin: 20px 0;
    }
    div.auth,
    div.welcome-message {
        height: auto;
        margin: auto;
        max-width: 600px;
        overflow: hidden;
        span.connected-as,
        span.name-label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            &.connected-as::before {
                font-weight: lighter;
                content: 'You are connected as: ';
            }
        }
    }
    button {
        background-color: #834299;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        height: 50px;
        &.logBtn {
            float: left;
            height: 50px;
            width: 120px;
        }
        &.quickBtn {
            width: 100%;
        }
    }
    input[type='text'] {
        height: 50px;
        padding: 10px;
        &.logName {
            width: ~"calc(100% - 122px)";
            float: left;
        }
    }
    .error {
        color: red;
        margin-left: 10px;
        margin-top: 10px;
        display: inline-block;
    }
    div.main {
        div.message-box {
            margin-top: 50px;
            ul.messages-box {
                min-height: 100px;
                text-align: left;
                li {
                    list-style: none;
                    padding: 0;
                    color: #55e;
                    font: 700 12px arial;
                    margin-left: 10px;
                    b {
                        font: 700 14px arial;
                        color: #888;
                    }
                    .margin-small-right {
                        margin-right: 5px;
                    }
                    &.pad {
                        margin-left: 10px;
                        b {
                            color: #535151;
                        }
                    }
                }
            }
            span.talk-to {
                font-weight: bold;
                &::before {
                    content: 'Talking to: ';
                    margin-right: 5px;
                    font-weight: lighter;
                }
            }
        }
        .messages-box,
        .users-box {
            margin: 20px auto;
            border: 3px solid #888;
            max-height: 300px;
            min-height: 100px;
            width: 100%;
            list-style: none;
            overflow-y: scroll;
        }
        .users-box {
            li {
                cursor: pointer;
                &.notSeen::after {
                  content: 'new message!';
                  font-style: italic;
                  color: green;
                  margin-left: 5px;
                }
            }
        }
        div.send-box {
            height: auto;
            margin: auto;
            max-width: 600px;
            overflow: hidden;
            button.sendBtn {
                float: left;
                width: 30%;
            }
            input.messageBox {
                width: 70%;
                float: left;
            }
        }
    }
}
