body {
  text-align: center;
}
div.chat-box {
  margin: 40px 0;
}
div.chat-box ul {
  padding: 5px 0;
  max-width: 600px;
  margin: 20px 0;
}
div.chat-box div.auth,
div.chat-box div.welcome-message {
  height: auto;
  margin: auto;
  max-width: 600px;
  overflow: hidden;
}
div.chat-box div.auth span.connected-as,
div.chat-box div.welcome-message span.connected-as,
div.chat-box div.auth span.name-label,
div.chat-box div.welcome-message span.name-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
div.chat-box div.auth span.connected-as.connected-as::before,
div.chat-box div.welcome-message span.connected-as.connected-as::before,
div.chat-box div.auth span.name-label.connected-as::before,
div.chat-box div.welcome-message span.name-label.connected-as::before {
  font-weight: lighter;
  content: 'You are connected as: ';
}
div.chat-box button {
  background-color: #834299;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
}
div.chat-box button.logBtn {
  float: left;
  height: 50px;
  width: 120px;
}
div.chat-box button.quickBtn {
  width: 100%;
}
div.chat-box input[type='text'] {
  height: 50px;
  padding: 10px;
}
div.chat-box input[type='text'].logName {
  width: calc(100% - 122px);
  float: left;
}
div.chat-box .error {
  color: red;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}
div.chat-box div.main div.message-box {
  margin-top: 50px;
}
div.chat-box div.main div.message-box ul.messages-box {
  min-height: 100px;
  text-align: left;
}
div.chat-box div.main div.message-box ul.messages-box li {
  list-style: none;
  padding: 0;
  color: #55e;
  font: 700 12px arial;
  margin-left: 10px;
}
div.chat-box div.main div.message-box ul.messages-box li b {
  font: 700 14px arial;
  color: #888;
}
div.chat-box div.main div.message-box ul.messages-box li .margin-small-right {
  margin-right: 5px;
}
div.chat-box div.main div.message-box ul.messages-box li.pad {
  margin-left: 15px;
}
div.chat-box div.main div.message-box ul.messages-box li.pad b {
  color: #535151;
}
div.chat-box div.main div.message-box span.talk-to {
  font-weight: bold;
}
div.chat-box div.main div.message-box span.talk-to::before {
  content: 'Talking to: ';
  margin-right: 5px;
  font-weight: lighter;
}
div.chat-box div.main .messages-box,
div.chat-box div.main .users-box {
  margin: 20px auto;
  border: 3px solid #888;
  max-height: 300px;
  min-height: 100px;
  width: 100%;
  list-style: none;
  overflow-y: scroll;
}
div.chat-box div.main .users-box li {
  cursor: pointer;
}
div.chat-box div.main .users-box li.notSeen::after {
  content: 'new message!';
  font-style: italic;
  color: green;
  margin-left: 5px;
}
div.chat-box div.main div.send-box {
  height: auto;
  margin: auto;
  max-width: 600px;
  overflow: hidden;
}
div.chat-box div.main div.send-box button.sendBtn {
  float: left;
  width: 30%;
}
div.chat-box div.main div.send-box input.messageBox {
  width: 70%;
  float: left;
}
