html
  head
    title Eureca chat example in WeTalkCode
    script(src="/eureca.js")
    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/build/chat.js')
    link(href="/css/chat.css", rel="stylesheet")
  body
    div.chat-box
      div(class="welcome-message", data-bind="visible: isLogged()")
        span(class="connected-as", data-bind="text: loginName")
        button(class="quickBtn", data-bind="click: quitChat") Quit Chat
      div(class="auth", data-bind="visible: !isLogged()")
        span.name-label Use the default one or type a new name.
        input(type="text", class="logName", data-bind="textInput: loginName")
        button(class="logBtn", data-bind="click: login") Log In
      div(class="main")
        ul(class="users-box", data-bind="foreach:{data: clients}, visible: isLogged()")
          li(data-bind="html:clientLine, click: $parent.showMessages.bind($data), css: { notSeen: messageNotSeen() }")
        div.message-box
          <!-- ko if: clientSelected -->
          span(class="talk-to", data-bind="text: clientSelected().name")
          ul(class="messages-box", data-bind="foreach:{data: clientSelected().messages}")
            li(data-bind="html: messageLine, css: { pad:  name != $parent.loginName() }")
          <!-- /ko -->
        div(class="send-box", data-bind="visible: isLogged()")
          input(type="text",class="messageBox", data-bind="textInput: messageToSend, event: {keypress: onEnterSend}")
          button(class="sendBtn", data-bind="click: sendMessage") Send
          span(class="error", data-bind="visible: errorNoMessage()") Message is empty
          span(class="error", data-bind="visible: errorNoClient()") No client selected
